/* Estilos básicos */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #D0D3D4; /* Cinza Claro */
  overflow: hidden;
}

/* Wrapper ocupa toda a tela */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Sidebar */
.main-sidebar {
  width: 250px;
  background-color: #007E79; /* Verde Teal Principal */
  color: #FFFFFF; /* Texto branco para contraste */
  padding: 10px;
  flex-shrink: 0;
}

.sidebar-custom {
  padding-top: 20px;
  color: #FBD984; /* Amarelo Claro para destaques */
}

.sidebar hr {
  border-color: #FBD984;
}

.sidebar a {
  color: #FBD984;
}

.sidebar a:hover {
  color: #FFFFFF;
}

.nav-link.active {
  background-color: #4D4D4F; /* Cinza Escuro */
  color: #FBD984;
}

.nav-icon {
  color: #FBD984;
}

/* Content Wrapper */
.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F7F7F7; /* Fundo de conteúdo leve */
  margin: 0;
}

/* Chatbox */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #FFFFFF; /* Cartão branco */
}

.card-body {
  flex-grow: 1;
  padding: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#messages {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
  max-height: 100%;
}

/* Mensagens */
.chat-message {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.chat-message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-content {
  background-color: #FFFFFF; /* Fundo das mensagens do bot */
  color: #4D4D4F; /* Texto escuro */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.bot-message {
  justify-content: flex-start;
}

.user-message {
  justify-content: flex-end;
}

.user-message .chat-content {
  background-color: #FBD984; /* Amarelo Claro */
  color: #4D4D4F; /* Texto escuro para contraste */
}

.user-message img {
  order: 2;
  margin-left: 10px;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white; /* Teal Claro como barra de entrada */
}

.card-footer input.form-control {
  margin-right: 10px;
  background-color: #FFFFFF;
  color: #4D4D4F;
  border: 1px solid #D0D3D4;
  border-radius: 5px;
  padding: 6px 10px;
}

/* Responsividade */
@media (min-width: 1200px) {
  .content-wrapper {
      max-width: 100%;
      padding: 20px;
  }
  .card {
      max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .content-wrapper {
      width: 100%;
      padding: 15px;
  }
  .card {
      width: 100%;
      margin: 5px 0;
  }
}

.loading-dots {
  font-size: 2rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold;
}
